/* reset ----------------------------------------------------------------------------------------------------------------------------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: verdana;
    /* font-family: 'Oswald', sans-serif; */ /** Elejir un tipo de letra */
}

html {
    scroll-behavior: smooth;
}

body {
    user-select: none;
    /* background-image: url(../img/bg/hexay.jpg); */
    background: linear-gradient(rgba(255, 255, 255, 0.445), rgba(255, 255, 255, 0.459)), url(../img/bg/hexay.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: auto;
}

/* general ----------------------------------------------------------------------------------------------------------------------------------*/
h3, p, a {
    font-style: bold !important;
}

img, .grid-about-item, .grid-player-item, .hr-1 {
    border-radius: 7px;
}

.btn-container a {
    border-radius: 7px !important;
}

/* header ---------------------------------------------------------------------------------------------------------------------------------- */
/* bg */
.section-main {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(rgba(31, 31, 31, 0.4), rgba(35, 47, 151, 0.4)), url(../img/bg/estadio.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* main */
.section-main h1 {
    color: rgba(255, 255, 255, 0.8);
    font-size: 60px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 80px;
    text-shadow: 0 0 3px #fff, 0 0 3px #000000;
}

.section-main img {
    width: 500px;
}

/* navbar */
header {
    z-index: 999;
    position: fixed;
    width: 100%;
    align-items: center;
    align-content: center;
    padding: 20px 10px;
    padding-bottom: 35px;
    transition: 0.6s;
}

/* navbar > scroll */
header.down {
    background: white;
    padding: 10px 10px;
    padding-bottom: 32px;
}

header.down .brand,
header.down ul li a {
    color: black;
}

/* navbar > scroll > hover */
header.down .brand:hover,
header.down ul li a:hover {
    background: rgb(19, 18, 18);
    color: white;
}

header.down .logo:hover {
    background: transparent;
}

/* brand / logo */
header .brand {
    color: #fff;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    cursor: pointer;
}

header .logo img {
    width: 250px;
}

.brand .logo {
    cursor: pointer;
}

/* navbar > menu */

header .menu ul {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: 35px;
}
  
header .menu ul li {
    list-style: none;
    display: flex;
    margin: auto;
    align-items: center;
    align-content: center;
}

header .menu ul li a {
    display: flex;
    margin: auto;
    align-items: center;
    align-content: center; 
}
  
header .menu a {
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;
    text-decoration: none;
    padding: 7px 12px;
    border-radius: 20px;
    transition: 0.3s;
    transition-property: color, background;
}

/* navbar > menu > hover */
header .menu a:hover {
    color: #000;
    background: #fff;
}

header .logo:hover {
    background: transparent !important;
}

/* buttons */
header .btn {
    display: flex;
    color: #fff;
    font-size: 25px;
    cursor: pointer;
}

header .home {
    display: flex;
    justify-content: center;
}

header .contact {
    display: flex;
    justify-content: center;
    align-items: center;
}

header .brand a {
    color: white;
}

/* hidden elements */
header .hidden, .section-main .hidden { /** La clase .hidden-nav-items esta de mas, se puede remover y usar solo .hidden */
    display: none;
}

/* mediaquerys / 901px / tablet-- */
@media (max-width: 991px) {
    
    /* hidden elements */
    header .hidden-nav-items{
        display: grid;
        grid-template-columns: auto 1fr;
        color: white;
    }

    header .hidden-nav-item-2 {
        justify-self: center;
        align-self: center;
    }

    .menu .hidden {
        display: flex;
    }

    .hidden-item {
        display: none;
    }

    /* add clase */
    header .menu.active {
        left: 0;
    }

    /* navbar */
    header .menu {
        position: fixed;
        background: #2D2E83;
        width: 300px;
        height: 100vh;
        top: 0;
        left: -200%;
        padding: 100px 0px;
        transition: 0.5s;
        transition-property: left;
    }

    header .menu a:hover {
        background: transparent;
    }

    header .logo img{
        display: none;
    }

    /* button > close */
    header .menu .close-btn {
        position: absolute;
        top: 0;
        right: 0;
        margin: 25px;
    }
  
    header .menu ul {
        height: auto;
        padding: 20px;
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
        gap: 30px;
    }

    header .menu li {
        display: flex;

    }

    header .menu a {
        display: block;
        font-size: 20px;
        margin: 20px;
        padding: 0 15px;
    }

    /* navbar > scroll */
    header, header.down {
        padding: 20px 5%;
    }

    header.down .btn, 
    header.down .brand a {
        color: black;
    }

    /* navbar > scroll > hover */
    header.down .brand:hover,
    header.down ul li a:hover {
        background: none;
    }

    /* navbar > scroll > style btn-x */
    header.down .btn-x {
        color: white;
    }

    /* navbar > scroll > style menu responsive */
    header.down .menu a {
        color: white;
    }

    /* navbar > scroll > style menu responsive > hover */
    header.down .menu a:hover {
        color: black;
    }

    /* display main logo */
    .section-main img {
        display: none;
    }

    .section-main .hidden {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 150px;
    }

    /* title */
    .title h3 {
        font-size: 30px;
    }

}

/*celular */  
@media (max-width: 600px) {
    .section-main h1{
        font-size: 50px;
        line-height: 60px;
    }

    /* brand */
    header .brand {
        font-size: 20px;
        letter-spacing: 1;
    }

    /* title */
    .title h3 {
        font-size: 20px;
    }

    /* display items */
    .cap-logo img{
        display: none;
    }

    /* display footer bot */
    footer .footer-bot {
        display: none;
    }
}

/* hr -------------------------------------------------------------------------------------------------------------------------------------- */
.hr-div {
    position: relative;
    width: 90%;
    height: 30px;
    margin: auto;
    margin-top: 0px;
    margin-bottom: 30px;
    align-items: center;
}

.hr-1 {
    position: absolute;
    display: block;
    width: 25%;
    height: 4px;
    left: calc(50% - 13%);
    border: #2D2E83;
    background: #2D2E83;
}

.hr-2 {
    position: absolute;
    width: 100%;
    height: 1px;
    background: gray;
    opacity: 0.3;
    z-index: -1;
}

/* carousel -------------------------------------------------------------------------------------------------------------------------------- */
.title {
    text-align: center;
    font-size: 40px;
    margin-top: 80px;
    margin-bottom: 10px;
}

/*carousel / content */
.carousel-container {
    width: 90%;
    margin: auto;
}

.carousel {
    width: 100%;
}

.carousel .carousel-item {
    width: 100%;
    height: 320px;
    cursor: pointer;
}

.carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 500ms ease-out;
}

/* hover */
.card {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    cursor: pointer;
}

.card img {
    width: 100%;
    height: 100%;
    transition: all 500ms ease-out;
}

.card .cap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: -150px;

    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50%;
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(255,255,255,0) 100%);
    opacity: 0;
    transition: all 500ms ease-out;
    visibility: hidden;
    text-align: center; 
}

.cap a {
    width: 100%;
}

.cap img {
    align-self: center;
    margin-bottom: 10px;
}

/* hover effect */
.card:hover > .cap {
    opacity: 1;
    visibility: visible;
}

.card:hover > .cap {
    width: 100%;
    margin-bottom: 0px;
}

.cap-up {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: auto;
    justify-content: space-around;
    justify-items: center;
}

.card .cap h3{
    width: 100%;
    color: #fff;
    font-weight: 400px;
    align-self: flex-end;
}

.card .cap p {
    width: 100%;
    color: #fff;
    font-size: 15px;
    line-height: 1.5;
    align-self: center;
}

.card .cap-logo {
    width: 80px ;
    height: 80px ;
    border-radius: 50%;
}

/* buttons */
.btn-container{
    width: 90%;
    height: 100%;
    margin: auto;
    margin-top: 35px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.btn-container a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    border-radius: 0%;
    background: #2D2E83;
    color: white;
    border: none;
    margin-top: 0px;
    width: 200px;
    height: 40px;
}

.btn-container a:hover {
    opacity: 0.9;
    transform: scale(1.03);
}


/* grid about ------------------------------------------------------------------------------------------------------------------------------ */
.grid-about-container {
    width: 90%;
    margin: auto;
}

.grid-about {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
}

.grid-about-item {
    display: flex;
    flex-direction: column;
    align-items: left;
    padding-left: 12px;
    padding-right: 12px;
    color: white;
    padding-top: 30%;
    height: 500px;

    background-size: 100% !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
}

.grid-about-item h3{
    font-size: 28px;
    padding: 20px 0;
}

.grid-about-item p {
    font-size: 14px;
}

.grid-about-item-1 {
    grid-column: 1 / span 3;
    background: linear-gradient(rgba(25, 59, 50, 0.60), rgba(25, 59, 50, 0.60)), url(../img/cmos/b1.jpg);
}
.grid-about-item-2 {
    background: linear-gradient(rgba(25, 59, 50, 0.60), rgba(102, 77, 31, 0.6)), url(../img/cmos/b2.jpg);
}
.grid-about-item-3 {
    background: linear-gradient(rgba(25, 59, 50, 0.60), rgba(25, 49, 59, 0.6)), url(../img/cmos/b3.jpg);
}
.grid-about-item-4 {
    background: linear-gradient(rgba(25, 59, 50, 0.60), rgba(202, 82, 51, 0.6)), url(../img/cmos/b4.jpg);
}
.grid-about-item-5 {
    background: linear-gradient(rgba(25, 59, 50, 0.60), rgba(59, 161, 67, 0.6)), url(../img/cmos/b5.jpg);
}
.grid-about-item-6 {
    background: linear-gradient(rgba(25, 59, 50, 0.60), rgba(90, 92, 54, 0.6)), url(../img/cmos/b6.jpg);
}

/* tablet / celular */
@media (max-width: 830px) {
    .grid-about {
        grid-template-columns: auto;
    }

    .grid-about-item {
        height: 250px;
        padding-top: 2%;
    }
    .grid-about-item-1 {
        grid-column: 1/span 1;
    }
}

/* float button ---------------------------------------------------------------------------------------------------------------------------- */
.float-button{
	position:fixed;
    display: flex;
    justify-content: center;
    align-items: center;
	width:60px;
	height:60px;
	bottom: 30px;
	right:30px;
    border-radius:50px;
    background-color: #35682d;
	color:#FFF;
  	z-index:100;
}

.float-button .float-icon{
    transform: scale(1.65);

}

.float-button:hover{
	text-decoration: none;
    opacity: 1;
    background-color: white;
    color: #35682d;
}

/* profesionals / talentos ----------------------------------------------------------------------------------------------------------------- */
/* bg / main-second */
.section-main-second {
    position: relative;
    width: 100%;
    min-height: 14vh;
    background: rgb(19, 18, 18);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

/* filter / categories */
.section-profesionals, .section-talents {
    width: 100%;
    margin: auto;
}
.grid-player-container input[type="radio"] {
    display: none;
}

.grid-player-container {
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    gap: 20px;
}

.grid-player-category {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.grid-player-category label {
    margin: 10px 5px 10px 5px;
    padding: 5px 10px;
    font-size: 14px;
    background: #2D2E83;
    color: white;
    cursor: pointer;
}

.grid-player-category label:hover {
    opacity: 0.9;
}

/* checked */
[value="portero"]:checked ~ .categories .category:not([data-category~="portero"]) {
    display: none;
}

[value="defensa"]:checked ~ .categories .category:not([data-category~="defensa"]) {
    display: none;
}

[value="mediocampista"]:checked ~ .categories .category:not([data-category~="mediocampista"]) {
    display: none;
}

[value="delantero"]:checked ~ .categories .category:not([data-category~="delantero"]) {
    display: none;
}

/* grid / player */
.grid-player {
    width: 100%;
    margin: auto;
    gap: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(13rem, 1fr));
    justify-content: space-between;
    text-align: center;
    overflow: hidden;
}

.grid-player-item, .grid-player-item a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: rgb(197, 197, 197);
    overflow: hidden;
    height: 320px;
}

.grid-player-item img {
    object-fit: cover;
}

/* main player / bg */
.section-main-player {
    position: relative;
    width: 100%;
    height: 86vh;
    background: url(../img/bg/techno.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* main player ----------------------------------------------------------------------------------------------------------------------------- */

.main-player-container {
    width: 90%;
    margin: auto;
    height: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 40% 1fr 50%;
}

.main-player-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-player-item-1 {
    align-items: flex-end;
    grid-row: 1 /span 3;
}

.main-player-item-2 {
    align-items: flex-end;
}

.main-player-item-3 {
    align-items: flex-start;
}

.main-player-item-4 {
    align-items: flex-start;
}

.section-main-player h1 {
    color: black;
    font-size: 30px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 40px;
    text-shadow: 0 0 3px #fff, 0 0 3px #000000;
}

.section-main-player h2 {
    color: black;
    font-size: 20px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 40px;
    text-shadow: 0 0 3px #fff, 0 0 3px #000000;
}

/* main player > items positions */
.player-team-logo {
    border-radius: 50%;
}

.section-main-player img:hover {
    opacity: 0.9;
}

/* stats */
.section-player-stats {
    width: 90%;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
}

.grid-stats {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 3px 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
}

.stats {
    width: 90%;
    height: 100%;
    grid-template-columns: 100%;
    display: grid;
    align-items: flex-start;
    align-content: flex-start;
    margin-bottom: 30px;
}

.stats-items {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
}

.stats-item-q {
    display: flex;
    justify-content: flex-start;
}

.stats-item-m {
    display: flex;
    justify-content: center;
}

.stats-item-a {
    display: flex;
    justify-content: flex-end;
}

.item-w800 {
    font-weight: 800;
}

.stats img {
    width: 100%;
}

.stats h3 {
    display: flex;
    justify-content: center;
}

.stats p {
    padding: 12px;
}

.hr-span2 {
    width: 100%;
    grid-column: 1 / span 2;
    opacity: .5;
}

.hr-span3 {
    width: 100%;
    grid-column: 1/ span 3;
    opacity: .5;
}

.hr-divide-line {
    width: 1px;
    height: 100%;
    background: gray;
    opacity: .7;
}

.divide-line {
    grid-area: 1 / 2 / 3 / 3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.stats h4 {
    padding: 12px;
}

/* tablet */
@media (max-width: 900px) {
    /* main */
    .main-player-container {
        display: flex;
        justify-content: flex-start;
    }

    /* logo / name / / team / position */
    /* name */
    .player-name {
        position: absolute;
        top: 40px;
        right: 30px;
    }

    .section-main-player h1 {
        font-size: 20px;
    }

    /* team */
    .player-team {
        position: absolute;
        top: 70px;
        right: 30px;
    }

    .section-main-player h2 {
        font-size: 16px;
    }

    /* logo */
    .player-team-logo {
        position: absolute;
        width: 160px;
        height: 160px;
        top: 140px;
        right: 30px;
        border-radius: 50px;
    }

    /* photo */
    .main-player-item-1 img {
        display: flex;
        justify-content: center;
        height: auto;
    }

    /* stats */
    .divide-line {
        display: none;
    }

    .grid-stats {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto;
    }
}

/* celular */
@media (max-width: 600px) {

    /* name */
    .player-name {
        top: 15px;
    }

    .main-player-container h1 {
        font-size: 16px;
    }

    /* team */
    .player-team {
        top: 35px
    }

    .main-player-container h2 {
        font-size: 12px;
    }

    /* logo */
    .player-team-logo {
        top: 90px;
        width: 90px;
        height: 90px;
    }

    /* photo */
    .main-player-item-1 img {
        display: flex;
        justify-content: center;
        width: 90%;
        height: auto;

    }

    /* stats */
    .stats {
        width: 100%;
    }
    .grid-stats p {
        font-size: 12px;
        padding-left: 5px;
        padding-right: 5px;
    }

    .grid-stats h3 {
        font-size: 16px;
    }
}

/* celular -- */
@media (max-width: 450px) {
    /* name */
    .player-name {
        top: 50px;
    }

    .main-player-container h1 {
        font-size: 15px;
        margin: 0px;
        padding: 0px;
        display: flex;
        width: 75%;
        justify-content: center;
        align-items: center;
        align-self: center;
        justify-self: center;
        left: 0;
        right: 0;
        letter-spacing: 0;
    }

    /* team */
    .player-team {
        top: 80px
    }

    .main-player-container h2 {
        font-size: 12px;
        margin: 0px;
        padding: 0px;
        display: flex;
        width: 75%;
        justify-content: center;
        align-items: center;
        align-self: center;
        justify-self: center;
        left: 0;
        right: 0;
        letter-spacing: 0;
    }

    /* logo */
    .player-team-logo {
        top: 40px;
        right: 35px;
        width: 90px;
        height: 90px;
    }
}

@media (max-width: 380px) {
    /* name */
    .player-name {
        top: 30px;
    }

    .main-player-container h1 {
        font-size: 15px;
        margin: 0px;
        padding: 0px;
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        align-self: center;
        justify-self: center;
        left: 0;
        right: 0;
        letter-spacing: 0;
    }

    /* team */
    .player-team {
        top: 60px
    }

    .main-player-container h2 {
        font-size: 12px;
        margin: 0px;
        padding: 0px;
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        align-self: center;
        justify-self: center;
        left: 0;
        right: 0;
        letter-spacing: 0;
    }

    /* logo */
    .player-team-logo {
        top: 120px;
        margin: 0px;
        padding: 0px;
        width: 100%;
        justify-content: center;
        align-items: center;
        align-self: center;
        justify-self: center;
        left: calc(50% - 45px);
        letter-spacing: 0;
        width: 90px;
        height: 90px;
    }
}

/* celular -- */
@media (max-width: 200px) {
    .main-player-item-2, .main-player-item-3, .main-player-item-4 {
        display: none;
    }
}

/* services -------------------------------------------------------------------------------------------------------------------------------- */
/* description */
.description {
    width: 90%;
    margin: auto;
}

/* pagination */
.grid-services {
    width: 90%;
    margin: auto;
}

.grid-services-item img{
    width: 100%;
}

/* social media ---------------------------------------------------------------------------------------------------------------------------- */
.grid-social-container {
    width: 90%;
    margin: auto;
    height: auto;
}

.grid-social {
    width: 50%;
    max-width: 1100px;
    margin: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 100px;
    grid-gap: 20px;
    justify-content: space-around;
}

.grid-social-item{
    width: 100%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-social-item a {
    width: 50%;
    margin: auto;
}

.grid-social-item img {
    width: 100%;
    height: 100%;
    transition: 0.5s;
}

.grid-social-item img:hover {
    transform: scale(1.1);
}

/* tablet */
@media (max-width: 900px) {
    .grid-social {
        width: 60%;
    }
    .grid-social-item a {
        width: 70%;
    }
}

/* celular */
@media (max-width: 600px) {
    .grid-social {
        width: 90%;
    }
    .grid-social-item a {
        width: 90%;
    }
}

/* footer ----------------------------------------------------------------------------------------------------------------------------------- */
footer {
    width: 100%;
    margin: auto;
    margin-top: 50px;
}

.footer-container {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgb(19, 18, 18);
    color: white;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-areas: 
    "top"
    "hr1"
    "mid"
    "hr2"
    "at";
}

.footer-item {
    width: 90%;
    padding: 10px;
    display: grid;
    justify-items: center;
    align-items: center;
}

.footer-item-1 {
    grid-area: top;
}

.footer-item-2 {
    grid-area: hr1;
}

.footer-item-3 {
    grid-area: mid;
}

.footer-item-4 {
    grid-area: hr2;
}

.footer-item-attributions {
    grid-area: at;
}

.footer-item-3 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    color: white;
    text-decoration: none;
}

.footer-item-attributions{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

/* footer mid */
.footer-item hr {
    width: 100%;
    border: 1px solid gray;
    opacity: 0.3;
}

footer a {
    color: gray;
}

footer a:hover {
    opacity: .7;
}

/* tablet */
@media (max-width: 900px) {
    .footer-item-3 {
        grid-template-columns: 1fr;
    }
}

/* celular */
@media (max-width:600px) {

}

